# Directories #
bin
tmp
.settings
.classpath
target
!hawkbit-mgmt/hawkbit-mgmt-api/src/main/java/org/eclipse/hawkbit/mgmt/json/model/target
.vscode
.springbeans
.metadata
.project
.idea
artifactrepo
apt_generated

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# OSX
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Compiled filed
*.class

# Package Files #
*.jar
*.war
*.ear
*.db

# Sonar
.sonar_lock

# VSCode
classpath-data.json

# Created by spring-boot-configuration-processor
.factorypath

# Eclipse IDE
*.pydevproject

# Intellij
*.iml

# local Spring configs
application-local.properties
application-local.yaml
application-local-*.properties
application-local-*.yaml

# Maven
maven.properties
.flattened-pom.xml

# Test Files
*.tmp
spring-shell.log

# Documentation
.gitmodules

# AI
.claude