# Directories #
build
bin
tmp
.settings
.classpath
target
.allure
.vscode
.springbeans
.metadata
.project

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# OSX
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Compiled filed
*.class

# Package Files #
*.jar
*.war
*.ear
*.db

# Sonar
.sonar_lock

# VSCode
classpath-data.json

# Created by spring-boot-configuration-processor
.factorypath

# Eclipse IDE
*.pydevproject

# Maven
maven.properties

# Test Files
*.tmp
