# Directories #
/build/
/*/build/
/bin/
/*/bin/
/target/
/*/target/
/*/*/target/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war

# Sonar
.sonar_lock

# Created by spring-boot-configuration-processor
.factorypath

# Eclipse IDE
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IDEA
*.iml
.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Maven
maven.properties
/*/maven.properties

hawkbit-repository/hawkbit-repository-jpa/.springBeans
