<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 Bosch Software Innovations GmbH and others.

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml" />

   <logger name="org.eclipse.hawkbit.eventbus.DeadEventListener" level="WARN" />
   <Logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN" />

   <Logger name="org.hibernate.validator.internal.util.Version" level="WARN" />

   <!-- Security Log with hints on potential attacks -->
   <logger name="server-security" level="INFO" />

   <Root level="INFO">
      <appender-ref ref="CONSOLE" />
   </Root>

</configuration>