<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 Bosch Software Innovations GmbH and others

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

-->
<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml" />

   <logger name="org.eclipse.hawkbit.eventbus.DeadEventListener" level="WARN" />
   <Logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN" />

   <Logger name="org.hibernate.validator.internal.util.Version" level="WARN" />

   <!-- Security Log with hints on potential attacks -->
   <logger name="server-security" level="INFO" />

   <Root level="INFO">
      <appender-ref ref="CONSOLE" />
   </Root>

</configuration>