<!-- Copyright (c) 2015 Bosch Software Innovations GmbH and others. All rights reserved. This program and the accompanying 
   materials are made available under the terms of the Eclipse Public License v1.0 which accompanies this distribution, and 
   is available at http://www.eclipse.org/legal/epl-v10.html -->
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 Bosch Software Innovations GmbH and others.

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- Log message format -->
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
         </pattern>
      </encoder>
   </appender>

   <logger name="org.eclipse.hawkbit" level="info" />

   <root level="error">
      <appender-ref ref="STDOUT" />
   </root>

</configuration>