@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');

body {
    margin-top: 50px; /* padding for .navbar-fixed-top. */
    font-family:'Open Sans', sans-serif;
    line-height: 1.85em;
    color: #111;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    color:#0088cc;
}

a:hover {
    text-decoration: none;
}

code {
	color: #919191;
	background-color: #f9f2f4;
}

.image-center
{
    margin: 0 auto;
    display: block;
}

.image-left
{
    float: left;
    margin: 0px 0 0px 0px;
	padding: 20px;
}

.navbar-inverse .navbar-brand {
    font-size: 48px;
    font-weight: bold;
    padding-top:10px;
    color: #6ab252;
}

.navbar-inverse .navbar-brand-logo {
	background-image: url("../img/hawkbit_flower.png");
	background-size: 250px;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 230px;
    height: 200px;
}

/*scroll stuff*/
.navbar-lp{
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
     transition: height 0.3s;
}

.navbar-lp .navbar-brand {
    font-size:65px;
    font-weight: bold;
    padding-top:40px;
    color: #6ab252;
}

.navbar-lp .navbar-brand-logo {
	background-image: url("../img/hawkbit_flower.png");
	background-size: 250px;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 250px;
    height: 200px;
	top: 0;
}

.navbar-lp .navbar-nav {
    padding-top:30px;
}

.navbar-lp
{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-lp.scroll .navbar-brand
{
    font-size: 48px;
    padding-top:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-lp.scroll .navbar-brand-logo {
	background-image: url("../img/hawkbit_flower.png");
	background-size: 80px;
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 80px;
	top: 0;
}

.navbar-lp.scroll .navbar-nav {
    padding-top:0px;
}

/*scroll stuff ends*/

.navbar-inverse .navbar-nav>li>a {
    color: rgba(255,255,255,0.65);
    font-size: 16px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #6ab252;
}

.navbar-inverse {
    background-color: #411355;
    border-color: #411355;
    padding: 12px 5px 5px 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: #411355;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #411355;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(255,255,255,0);
}

.header {
    display: block;
    width: 100%;
    text-align: center;
    background: #411355;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 58px;
}

.tagline {
    padding: 60px 0 50px;

}

.tagline h1 {
    font-size: 60px;
    color: rgba(255,255,255,0.9);
}

.box-separator {
    margin: 50px 0;
}

.separator {
    margin: 50px 0 30px;
}

.box {
    overflow: hidden;
}

.box-img.pull-left {
    margin-right: 40px;
}

.box-img.pull-right {
    margin-left: 40px;
}

.box-headline {
    font-size: 50px;
    color: #666;
}

#adi .box-headline {
    margin-bottom: 58px;
}

#adi img {
    width: 90%;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .box-separator {
        margin: 50px 0;
    }

    .box-img.pull-left {
        margin-right: 20px;
    }

    .box-img.pull-right {
        margin-left: 20px;
    }

    .box-headline {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .box-separator {
        margin: 40px 0;
    }

    .box-img.pull-left {
        margin-right: 10px;
    }

    .box-img.pull-right {
        margin-left: 10px;
    }

    .box-headline {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .box-separator {
        margin: 40px 0;
    }

    .box-headline {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .box-separator {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .tagline {
        padding: 75px 0 25px 0;
    }
    .navbar-inverse .navbar-brand {
        font-size: 65px;
        padding-top: 20px;
    }
	.navbar-inverse .navbar-brand-logo {
		background-image: url("../img/hawkbit_flower.png");
		background-size: 100px;
		background-repeat: no-repeat;
		position: absolute;
		width: 100px;
		height: 200px;
	}
    .tagline h1 {
        font-size: 45px;
         margin-top: 10px;
    }
}

@media(max-width:375px) {
    .box-separator {
        margin: 10px 0;
    }

    .box-img {
        max-width: 100%;
    }

    .box-img.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .box-img.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

/*Content Header
========================*/
.content-header {
    margin: 50px 0px;
}

.content-header h1 {
    color: #666;
}

/*Blog/News
========================*/
.blogpost, .news {
    padding:0 0 0px;
    margin: 20px 0 0px;
}

.blogpost h3, .news h3 {
    font-size: 28px;
}

.blogpost p .news p{
    margin: 20px 0;
    font-size: 18px;
}

.metadata {
    margin-bottom: 20px;
    padding: 5px 0;
}

.metadata ul {
    margin: 0; padding: 0
}

.metadata ul li {
    display: inline-block;
    margin-right: 20px;
}

.metadata i {
    margin: 4px 5px 0 0;
    color: #666;
}

/*downloads
========================*/
.box-dl h3{
    margin-top: 5px;
    font-weight: bold;
    color: #333;
}

.box-dl .fa{
    color: #999;
}
/*Home page Image-Hover*/
.zoom1 {
 -webkit-transform: scale(1);
  transform: scale(1);
 -ms-transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.zoom1:hover {
 -webkit-transform: scale(0.9);
 -ms-transform: scale(0.9);
  transform: scale(0.9);
}

/*Home page Image-VideoOverlay*/
.thumb1, .thumb2, .thumb3,.thumb4, .thumb5{
  position: relative;
}

.thumb1 .play-icon{
  outline: medium none;
  position: absolute;
  z-index: 100;
  opacity: 0.8;
  color:  #003151;
  font-size: 4em;
  left: 325px;
  top: 125px;

}

.thumb1 .play-icon:hover, .thumb2 .play-icon:hover, .thumb3 .play-icon:hover, .thumb4 .play-icon:hover, .thumb5 .play-icon:hover{
opacity: 1;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
 transform: scale(1.1);
}


.thumb2 .play-icon {
    color: #003151;
    font-size: 4em;
    opacity: 0.8;
    outline: medium none;
    position: absolute;
    left: 325px;
    z-index: 100;
    top: 125px;
}

.thumb3 .play-icon {
    color: #003151;
    font-size: 4em;
    opacity: 0.8;
    outline: medium none;
    position: absolute;
    left: 200px;
    z-index: 100;
    top: 115px;
}
.thumb4 .play-icon {
    color: #003151;
    font-size: 4em;
    opacity: 0.8;
    outline: medium none;
    position: absolute;
    left: 250px;
    z-index: 100;
    top: 125px;
}
.thumb5 .play-icon {
    color: #003151;
    font-size: 4em;
    opacity: 0.8;
    outline: medium none;
    position: absolute;
    left: 800px;
    z-index: 100;
    top: 125px;
}
/*community*/
.team {
    background: -moz-linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(147, 200, 130, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(147, 200, 130, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , rgba(106, 178, 82, 1) 0%, rgba(147, 200, 130, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    height: auto;
    margin-bottom: 5px;
    padding: 8px;
    position: relative;
}

.team:hover {
    background: -moz-linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(top , rgba(106, 178, 82, 1) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    border: 0px solid #3300CC;
}

.team .fa {
    color: #333;
}

/*Usecases*/
.teamuc {

    background: -moz-linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(177, 189, 205, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , rgba(106, 178, 82, 1) 0%, rgba(177, 189, 205, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , rgba(106, 178, 82, 1) 0%, rgba(177, 189, 205, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    height: auto;
    margin-bottom: 5px;
    padding: 8px;
    position: relative;
}

p.ex {
color: #fff;
}
h2.ex {
    color: #fff;
    font-weight: bold;
}
.vbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #002E5C, #2980b9);
  background-image: -moz-linear-gradient(top, #002E5C, #2980b9);
  background-image: -ms-linear-gradient(top, #002E5C, #2980b9);
  background-image: -o-linear-gradient(top, #002E5C, #2980b9);
  background-image: linear-gradient(top bottom, #002E5C, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
   font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 }

.vbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30567B, #3498db);
  background-image: -moz-linear-gradient(top, #30567B, #3498db);
  background-image: -ms-linear-gradient(top, #30567B, #3498db);
  background-image: -o-linear-gradient(top, #30567B, #3498db);
  background-image: linear-gradient(to bottom, #30567B, #3498db);
  color: #ffffff;
   font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;

}
.vbtn:active {
   background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30567B, #3498db);
  background-image: -moz-linear-gradient(top, #30567B, #3498db);
  background-image: -ms-linear-gradient(top, #30567B, #3498db);
  background-image: -o-linear-gradient(top, #30567B, #3498db);
  background-image: linear-gradient(to bottom, #30567B, #3498db);
  color: #ffffff;
   font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;

}
.vbtn:focus {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30567B, #3498db);
  background-image: -moz-linear-gradient(top, #30567B, #3498db);
  background-image: -ms-linear-gradient(top, #30567B, #3498db);
  background-image: -o-linear-gradient(top, #30567B, #3498db);
  background-image: linear-gradient(to bottom, #30567B, #3498db);
  color: #ffffff;
   font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
/*Footer
========================*/

footer{
    border-top:1px solid #eee;
    background: #f5f5f5;
    padding: 30px 0;
    color: #ccc;
    margin-top:40px;
    margin-bottom:0px;
}

#extra h3 {
  font-weight: 400;
  border-bottom: 1px solid #999;
  padding: 5px;
}
.footer-links-header {
  color: #333;
  padding-top: 0px;
  margin-top: 0px;
}
footer h3 {
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 555;
}
.footer-links {
  width: 49%;
  display: inline-block;
  margin: 0;
  list-style: none;
}

footer ul {
    -webkit-padding-start: 0px;
}

/*documentation*/
.nav-bar {
    margin-top: 50px;
    background-color: #dadada;
    border: 1px solid #ccc;
    padding-top: 12px;
}

.nav-bar .nav .navmenu-nav {
    padding: 3px 15px;
}

.nav-bar .nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px;
}

.documentation-section {
    padding-top: 68px;
    margin-top: -38px;
    margin-left: 25px;
}

.info-note {
  color: #2283A3;
  font-size: 2em;
}

/* blogs*/

@media (max-width: 767px) {
  .blogstep .blogpicture {float:none; text-align:center;}
  .blogstep .blogtext {padding:0;}
}

.blogstep {
  padding:0 0 20px 40px;
  background:url(../img/blogpics/stepline.png) no-repeat 10px 3px;
}
.blogstep .blogpicture {
  float:right;
}
.blogstep .blogpicture img {
  max-width:100%;
}
.blogstep .blogtext {
  padding:0 400px 0 0;
  color:#848484;
}
.blogstep .blogtext p{
   padding-bottom:10px;
}
.blogstep .blogtext a{
   color:#0066FF;
}

.clear{ clear:both; height:0; overflow:hidden;}


table {
    background: #B0C4DE none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    width: 100%;

}
table th {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #B0C4DE, #B0C4DE) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(center top , #B0C4DE, #B0C4DE) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #B0C4DE, #B0C4DE) repeat scroll 0 0;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #e0e0e0;
    padding: 4px 6px;
}
table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
table td:first-child {
    border-left: 0 none;
    text-align: left;
}
table td {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fbfbfb, #fafafa) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(center top , #fbfbfb, #fafafa) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #fbfbfb, #fafafa) repeat scroll 0 0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #f0f0f0;
  padding: 4px 6px;
}
table tr.even td {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f8f8f8, #f6f6f6) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(center top , #f8f8f8, #f6f6f6) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #f8f8f8, #f6f6f6) repeat scroll 0 0;
}
table tr:last-child td {
    border-bottom: 0 none;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}
table tr:hover td {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f2f2f2, #f0f0f0) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(center top , #f2f2f2, #f0f0f0) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #f2f2f2, #f0f0f0) repeat scroll 0 0;
}
#zoo table {
    margin: 0;
}
.pricing {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d4d4d4;
    border-image: none;
    border-radius: 5px 5px 9px 9px;
    border-style: solid;
    border-width: 1px 1px 4px;
    color: #c0c2c2;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 100%;
}
.pricing thead th {
    background: #333 none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #f4f4f4;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    padding: 13px 8%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.pricing tfoot td {
    background: #ededed none repeat scroll 0 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px 8%;
    width: 100%;
}
.pricing td {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    float: left;
    padding: 10px 8%;
    width: 100%;
}
.pricing tfoot td {
    text-align: center;
}
.pricing td.focus {
    background: #3a5a82; none repeat scroll 0 0;
    border-bottom: 1px solid #d4d4d4;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 25px 8%;
    text-align: center;
    width: 100%;
}
.pricing td.focus-best {
    background: #a00 none repeat scroll 0 0;
    border-bottom: 1px solid #d4d4d4;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 25px 8%;
    text-align: center;
    width: 100%;
}
.pricing td.focus span {
    display: block;
    font-size: 10px;
    margin-top: 5px;
}
.pricing td.focus-best span {
    display: block;
    font-size: 10px;
}
.pricing td h6 {
    color: #c0c2c2;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 60%;
}
.pricing td p {
    float: left;
    text-align: right;
    width: 40%;
}
.btn-primary:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
#tbltext{
    color: #000000;
}
